* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: red;
    padding: 30px;
}

ul {
    list-style: none;
    text-decoration: none;
    display: flex;
}

li {
    padding: 0 10px;
}

.right-header {
    margin-left: auto;
}

.container {
    width: 100%;
    height: 750px;
    background-color: #B4D0E7;
}

.container .content {
    width: 60%;
    background-color: white;
    height: 85%;
    margin: 0 auto;
    position: relative;
}

.big-title {
    background-color: blueviolet;
    width: 100%;
    height: 30%;
}

.dropbox-layout-img {
    background-color: blue;
    width: 700px;
    height: 400px;
    position: absolute;
    right: 0;
    bottom: -50px;
}

.sub-container {
    width: 50%;
    height: 3500px;
    background-color: darkseagreen;
    margin: 0 auto;
}


h2 {
    height: 200px;
    background-color: lightslategray;
    margin-bottom: 15px;
}

.payment-plans {
    height: 1000px;
    background-color: peru;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.plan {
    width: 30%;
    background-color: magenta;
    height: 900px;
}

.info-enterprise {
    width: 100%;
    height: 200px;
    background-color: midnightblue;
    margin-bottom: 70px;
}

.partner {
    height: 500px;
    width: 100%;
    background-color: hotpink;
    margin-bottom: 70px;
}

.partner .partner-img {
    width: 50%;
    background-color: black;
    height: 400px;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 250px;
}

.little-info {
    margin-top: 35px;
    width: 30%;
    height: 300px;
    background-color: crimson;
}

.info-title {
    height: 70px;
    background-color: lightslategray;
    margin-bottom: 15px;
}

.section-footer {
    width: 60%;
    height: 190px;
    background-color: white;
    margin-bottom: 100px;
}

.partners-container {
    display: flex;
    justify-content: space-between;
}

.partners-brand {
    display: flex;
    flex-wrap: wrap;
    width: 32%;
    height: 528.62px;
    background-color: black;
}

.sides-container .brand  { /* set sizes to 50% -----------------------*/
    width: 49%;
    height: 49%;
    background-color: blueviolet;
    opacity: .5;
}

.partners-container .middle-container {
    background-color: cyan;
}

.prova-gratuita {
    background-color: #B4D0E7;
    height: 300px;
    width: 100%;
}

.sub-container.domande-frequenti {
    height: 500px;
    margin-top: 75px;
    margin-bottom: 75px;
}

footer {
    background-color: black;
    height: 500px;
    width: 100%;
}

footer .footer-content-top-part {
    width: 60%;
    background-color: white;
    height: 50%;
    margin: 0 auto;
}

footer .footer-content-bot-part {
    width: 60%;
    background-color: darkgreen;
    height: 30%;
    margin: 0 auto;
}