* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.big-bot-padding {
  padding-bottom: 50px;
}

.padding {
  padding-bottom: 15px;
}

.mt-45 {
    margin-top: 45px;
}

nav {
  display: flex;
  background-color: white;
  padding: 20px;
  /* position: fixed;
    z-index: 90; */
}

.header-list {
  list-style: none;
  text-decoration: none;
  display: flex;
}

.header-list-items {
  padding: 0 10px;
}

.right-header {
  margin-left: auto;
}

.btn {
  background-color: blue;
  color: white;
}

.container {
  width: 100%;
  /* height: 700px; */
  /* background-color: #b4d0e7; */
}

h1 {
  padding-top: 50px;
  font-size: 90px;
  padding-bottom: 50px;
}

.spaziatura {
  width: 60%;
  height: 40%;
  margin: 0 auto;
  position: relative;
}

.spaziatura .header-text {
    width: 30%;
    height: 470px;
    /* background-color: rgb(135, 135, 255); */
}

.header-text-lorem {
    font-size: 18px;
}

.arrow-down {
    position: absolute;
    bottom: 5px;
    left: 15px;
    font-size: 50px;
}

.text-jumbo .header-img {
  width: 70%;
  height: 470px;
  /* background-color: black; */
}

img.dropbox-layout-img {
    width: 115%;
}

.text-jumbo {
    display: flex;
    width: 100%;
}

.prova-gratuita-1 {
    background-color: rgb(88, 88, 255);
    display: inline-block;
    padding: 10px;
}

.sub-container {
  width: 50%;
  height: 3500px;
  /* background-color: darkseagreen; */
  margin: 0 auto;
}

.payment-header {
  height: 200px;
  /* background-color: lightslategray; */
  margin-bottom: 15px;
  margin-top: 60px;
}

h2 {
  font-size: 50px;
}

.payment-plans {
  height: 1000px;
  /* background-color: peru; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.plan {
  width: 30%;
  /* background-color: magenta; */
  height: 900px;
}

.info-enterprise-container {
  width: 100%;
  height: 200px;
  /* background-color: midnightblue; */
  margin-bottom: 70px;
  border: 1px solid lightgray;
}

.partner {
  height: 500px;
  width: 100%;
  /* background-color: hotpink; */
  margin-bottom: 70px;
  display: flex;
}

.partner-container{
  width: 35%;
  margin: 0 auto;
}

.partner-title {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-partner {
  background-color: white;
  display: inline-block;
  margin-top: 40px;
  padding: 10px 15px;
  border: 1px solid black;
}

.partner .partner-img {
  width: 50%;
  /* background-color: black; */
  height: 400px;
}

.info-title {
  font-size: 40px;
  font-weight: bolder;
}

.infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 125px;
}

.little-info {
  margin-top: 35px;
  width: 30%;
  height: 400px;
  /* background-color: crimson; */
}

.little-info .little-image {
  width: 100%;
}

.info-title {
  height: 70px;
  /* background-color: lightslategray; */
  margin-bottom: 15px;
}

.little-image-title {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bolder;
}

.little-image-footer {
  width: 55%;
  height: 190px;
  background-color: white;
  margin-bottom: 100px;
}

.business-users-info {
  font-size: 35px;
  margin-bottom: 70px;
}

.partners-container {
  display: flex;
  justify-content: space-between;
}

.partners-brand {
  display: flex;
  flex-wrap: wrap;
  width: 32%;
  height: 528.62px;
}

.sides-container .brand {
  /* set sizes to 50% -----------------------*/
  width: 50%;
  height: 50%;
  /* background-color: blueviolet; */
  /* opacity: 0.5; */
}

.brand-1 {
  border: 10px solid #D1E9CD;
  background-color: #A2D39B;
}

.brand-2 {
  background-color: #61082B;
}

.brand-3 {
  background-color: #0093CE;
}

.brand-4 {
  background-color: #FF1C1C;
}

.brand-5 {
  background-color: #D5001F;
}

.brand-6 {
  background-color: #B4D0E7;
}

.brand-7 {
  background-color: #0D2481;
}

.brand-8 {
  background-color: #FFD830;
}

.brand .brand-img {
  width: 50%;
  margin: auto;
  display: block;
  height: 100%;
}

.mid-container-brand {
  font-size: 75px;
}

.partners-container .middle-container {
  background-color: cyan;
}

.prova-gratuita-big-container {
  background-color: #b4d0e7;
  height: 300px;
  width: 100%;
}

.prova-gratuita-small-container {
  width: 50%;
  margin: 0 auto;
  /* background-color: red; */
  height: 100%;
  display: flex;
}

.center-content {
  /* margin: 0 auto; */
  /* background-color: red; */
  height: 100%;
  display: flex;
  justify-content: center;
  /* background-color: white; */
  flex-direction: column;
}

.prova-gratuita-content {
  font-size: 40px;
  width: 60%;
  margin-right: auto;
  color: #61082B;
  font-weight: bolder;
}

.prova-gratuita-btn {
  font-size: 18px;
  /* background-color: red; */
  padding: 15px;
}

.sub-container.domande-frequenti-container {
  height: 310px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.domande-frequenti-titolo {
  font-size: 45px;
  margin-bottom: 50px;
}

.questions {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

.low-border {
  border-bottom: 1px solid lightgrey;
}

.span-question {
  margin-left: auto;
}

footer {
  background-color: black;
  height: 500px;
  width: 100%;
}

footer .footer-content-top-part {
  width: 60%;
  /* background-color: white; */
  height: 85%;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.first-item-footer-list {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-list-items {
  font-size: 20px;
  margin-bottom: 15px;
}

footer .footer-content-bot-part {
  width: 60%;
  background-color: darkgreen;
  height: 15%;
  margin: 0 auto;
}

.type-plan {
  text-align: center;
}

.main{
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 25px;
}

.sub {
  padding-bottom: 10px;
}



.plan {
  border: 2px solid lightgray;
}

/* .payment-plans {
  border-style: ridge;
  border: 5px solid lightgray;
} */

.type-plan {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid lightgrey;
  border-top-style: none;
  border-right: none;
  border-left: none;
}

.info-plans-container {
  width: 225px;
  margin: 0 auto;
}

.thirty-days-free{
  text-align: center;
  background-color: blue;
  padding: 10px;
  color: white;
  margin-bottom: 35px;
}

.buy-now {
  padding-bottom: 35px;
  border: 1px solid lightgray;
  border-top: none;
  border-left: none;
  border-right: none;
}

.punti-salienti {
  margin-top: 50px;
  margin-bottom: 25px;
}

.plans {
  margin-bottom: 10px;
}

.info-enterprise {
  display: flex;
}

.enterprise-container-width {
  width: 90%;
  margin: 0 auto;
}

.contatta-ufficio {
  margin-left: auto;
  background-color: blue;
  color: white;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.margin-top-enterprise {
  margin-top: 15px;
}

.bold-enterprise {
  font-size: 25px;
}

.text-enterprise-info {
  margin-top: 25px;
  width: 75%;
}

